body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
}

.top-bar {
  background-color: black;
  display: flex;
  align-items: center;
}

.bar-title {
  color: white;
  padding-right: 0.5rem;
  border-right: solid 2px white;
}

.btn-default {
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #ffffff00;
  cursor: pointer;
  color: white;
  box-shadow: 0.2em 0.2em 0 white;
}

#search-form {
  margin: 0.5rem;
}
